<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Document</title>
</head>
<body >
    
    
    <div class="container ml-3" >
        <div class="col">
            <br>
            <h1>Actividades pendientes</h1>
            
        </div>
        <form class="row g-3" method="post">
            {% csrf_token %}
            
            <div class="col-auto">
              <label for="nuevatarea"></label>
              <input type="text" class="form-control" placeholder="Nueva Tarea" name="nuevatarea">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary mb-3 mt-4" >Registrar</button>
            </div>
          </form>
          <br>

          {% for tarea in tareas %}
            <div class="row align-items-center">
                <div class="col">
                    <p class="mb-0">{{ tarea.descripcion }}</p>
                </div>
                <div class="col-auto m1-0">
                    <a href="{% url 'eliminar' tarea.id %}" class="btn btn-warning btn-sm">Completada</a>
                </div>
            </div>
            <br>
          {% endfor %}
            
    </div>
    
    
    

    
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</html>